@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.poppins {
  font-family: "Poppins", sans-serif;
}

.manrope{
  font-family: "Manrope", sans-serif;
}

.inter{
  font-family: "Inter", sans-serif;
}

.roboto{
  font-family: "Roboto", sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.primary-color{
     color: #3A3A3A;
}

header .btn{
    margin-top: 20px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
}

nav , header , main{
   max-width: 1140px;
   margin: 30px auto;
    
}


/*  navbar style */

.flex{
    display: flex;
    justify-content: space-between;
}

nav{
    align-items: center;
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    text-align: center;
    list-style: none;
}

nav li a{
    color: #3A3A3A;
   text-decoration: none;
}

/* header style */

header{
    /* border: 1px solid #E02C6D; */
    margin-top: 80px;
    margin-bottom: 100px;
}

header h1{
    font-size: 40px;
}

header p{
    font-size: 1rem;
}

#img{
    background-image: url('/images/Circle\ design.svg');
}

/* .........main........... */
/* logo style */

.logo{
    border-top: 1px solid #e0d7da;
    border-bottom: 1px solid #e0d7da;
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 40px;

}

/* Popular Collection */
.Popular-Collection{
    margin: 80px 0;
}

.Popular-Collection h2{
    text-align: center;
    margin-bottom: 20px;
}

.box h3{
    color: rgba(24, 25, 31, 1);
}

.Popular-Collection .box{
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px 5px grey;
    border-radius: 10px;
    padding: 10px;
}

.box > img{
    width: 100%;
}

small{
    margin-left: 10px;
}

.pink{
    color: #E02C6D;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

/* feature style */
.Featured{
    gap: 70px;
}

.Featured h2{
    color: #0A0826;
    font-size: 30px;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px;
}

.btn1{
    margin-top: 20px;
     background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
}

/*........ footer........ */
footer{
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 80px;
    background-color: #0A0826;
    height: 230px;
    padding: 50px 400px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

hr{
    margin: 20px 0;
}

.icon{
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
}

.hide{
    display: none;
}

@media screen and (min-width:576px) and (max-width:992px){
      .flex{
        display: inline;
    }

        nav h4, ul a{
        margin-left: 20px;
        padding: 20px 0px;
        text-align: center;
    }

        header h1, header p, header , .Featured {
        text-align: center;
    }

       #img{
        width: 100%;
        margin: 30px auto;
        background-repeat: no-repeat;
        width: fit-content;
        overflow: hidden;
       
    }

      .logo{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
}

.box-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 20px;
    gap: 40px;
}
}
@media screen and (max-width:576px){
   .flex{
        display: inline;
    }

    nav h4, ul a{
        margin-left: 20px;
        padding: 20px 0px;
        text-align: center;
    }

    header h1, header p, header , .Featured {
        text-align: center;
    }

    .logo{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
}

.box-container{
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    margin: 0 20px;
    gap: 40px;
}

    #img{
        width: 100%;
        margin: 30px auto;
        background-repeat: no-repeat;
        width: fit-content;
        overflow: hidden;
       
    }

    .Featured{
        margin: 100px 0px;
    }

    .footer{
        border: 10px solid saddlebrown;
        /* width: 50%;
        margin: 0 auto;
        text-align: center; */
    }
}



